* {user-select: none}

header {
    width:90%; height: 20px; background-color: #061652;
    color: #fff; font-weight: bold; text-align: center; cursor: pointer;
    margin: 25px auto;
}

section {margin: auto; background-color: rgba(113,113,113, .6); border-radius: 25px; padding: 6px}

a {text-decoration: none; position: relative;}
img     {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 15px; border: 1px solid #969696;
    cursor: pointer; opacity: 1;

    -moz-transition:opacity .5s;
    -webkit-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}

img:hover {
    opacity: 1;
}